@import url('https://fonts.googleapis.com/css?family=Nunito:400,400i,700|PT+Serif:400,700&display=swap');

html{
    font: var(--font-size-body, 14px)/1.2  'Nunito', Verdana, sans-serif;
}
@media  (min-width:600px) {
    html {
        font-size: var(--font-size-body-larger, 16px);
    }
}

@media  (min-width:1024px) {
    html {
        font-size: var(--font-size-body-big, 18px);
    }
}

@media  (min-width:1600px) {
    html {
        font-size:var(--font-size-body-huge, 20px);
    }
}

body, input, textarea, option, select,table, form{
    font:inherit;
    background: var(--color-body-bgrd, #FFF);
    color: var(--color-body-text, #000);
}
h1,h2,h3,h4,h5,h6{
    font-size: 1em;
    font-weight: normal;
    /* line-height: 1.1; */
    /* margin-bottom: 0.5em; */
    padding-bottom: 0.5em;
}
h1 {font-size: 2.5em;}
h2 {font-size: 2.1em;}
h3 {font-size: 1.75em;}
h4 {font-size: 1.45em;}
h5 {font-size: 1.2em;}
h6 {font-size: 1em;}
code{
    font-family: 'Courier New', Courier, monospace;
}

a{
    text-decoration: none;
    color:var(--color-link-default, #0A0);
}

p, ul, ol, blockquote{
    padding-bottom: 1.5em;
}
ul, ol{
    padding-left:2em;
}
li ul, li ol{
    padding-top: 0.5em;
}
li ul li{
    list-style: disc;
}
li ul li ul li{
    list-style: square;
}
blockquote{
    padding-left: 4em;
    font-style: italic;
    opacity: 0.8;
    font-family: serif;
}
blockquote p:last-child{
    padding-bottom: 0;
}
li{
    list-style: circle inside;
}
form {
    margin: 0;
}
